<% provide(:title, 'Home') %>

<h1>My Website Home.</h1>
<p></p>
<ul>
  <li><%= link_to "My LinkedIn.", "http://www.linkedin.com/pub/john-davidson/48/324/556/" %></li>
  <li><%= link_to "My Github.", "https://github.com/jdavidson091" %></li>
</ul>

