<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">

    <!-- responsive navbar code, currently isn't working? need to "include responsive CSS to utilize".
         refer to: getbootstrap.com/2.3.2/examples/carousel.html
         and inspect the navbar.
     -->
    <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Mr. John Davidson", root_path, id: "logo" %>


  </div>
</header>